@page "/Account/ForgotPassword"
@using AquaAi.Components.Layout
@layout LoginLayout
@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using AquaAi.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<style>
    * {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
    }
    .pagelogin .logo {
        font-size: 3rem;
        color: var(--black);
        text-transform: capitalize;
        text-decoration: none;
    }

    .pagelogin .logo-image {
        max-height: 6rem;
        margin-right: 1.5rem;
    }

    .pagelogin .logo span {
        color: var(--yellow);
    }

    .login-form {
        position: absolute;
        top: 15%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 40rem;
        background: var(--white);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        text-align: center;
        -webkit-animation: fadeIn .2s linear;
        animation: fadeIn .2s linear;
    }

    .pagelogin .login-form h3 {
        font-size: 2.5rem;
        color: var(--black);
        text-transform: capitalize;
        padding-bottom: 1rem;
        text-transform: uppercase;
    }

    .pagelogin .login-form .box {
        width: 100%;
        padding: 1.2rem 1.4rem;
        background: var(--light-bg);
        font-size: 1.6rem;
        color: var(--light-color);
        margin: .7rem 0;
    }

    .pagelogin .login-form .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: .5rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

        .pagelogin .login-form .flex label {
            font-size: 1.5rem;
            color: var(--light-color);
            cursor: pointer;
        }

        .pagelogin .login-form .flex a {
            font-size: 1.5rem;
            color: var(--light-color);
            margin-left: auto;
        }

            .pagelogin .login-form .flex a:hover {
                color: var(--yellow);
                text-decoration: underline;
            }

    .pagelogin .login-form .btn {
        width: 100%;
    }

    .pagelogin .login-form p {
        font-size: 1.5rem;
        color: var(--light-color);
        line-height: 2;
        padding-top: 1.5rem;
    }

        .pagelogin .login-form p a {
            color: var(--yellow);
        }

            .pagelogin .login-form p a:hover {
                text-decoration: underline;
            }

    .pagelogin .login-form .btn {
        display: inline-block;
        margin-top: 1rem;
        padding: 1rem 3rem;
        background: var(--black);
        color: var(--white);
        cursor: pointer;
        font-size: 1.7rem;
        text-transform: capitalize;
        -webkit-transition: .2s linear;
        transition: .2s linear;
    }

        .pagelogin .login-form .btn:hover {
            background: var(--yellow);
            color: var(--black);
        }
</style>

    <div class="pagelogin">

    <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post" class="login-form">
        <a href="#" class="logo">
            <img src="images/AquaAiLogo.jpg" alt="AquaAi Logo" class="logo-image">Forgot<span>Password</span>
        </a>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

                <InputText @bind-Value="Input.Email" class="box" autocomplete="username" aria-required="true" placeholder="Enter your email" />
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            <button type="submit" class="btn">Reset password</button>
        </EditForm>
     </div>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            // Don't reveal that the user does not exist or is not confirmed
            RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
        }

        // For more information on how to enable account confirmation and password reset please
        // visit https://go.microsoft.com/fwlink/?LinkID=532713
        var code = await UserManager.GeneratePasswordResetTokenAsync(user);
        code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
        var callbackUrl = NavigationManager.GetUriWithQueryParameters(
            NavigationManager.ToAbsoluteUri("Account/ResetPassword").AbsoluteUri,
            new Dictionary<string, object?> { ["code"] = code });

        await EmailSender.SendPasswordResetLinkAsync(user, Input.Email, HtmlEncoder.Default.Encode(callbackUrl));

        RedirectManager.RedirectTo("Account/ForgotPasswordConfirmation");
    }

    private sealed class InputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = "";
    }
}
