@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var statusMessageClass = DisplayMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass" role="alert">
        @DisplayMessage
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter]
    public string? Message { get; set; }

    [Inject]
    private IHttpContextAccessor HttpContextAccessor { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        var httpContext = HttpContextAccessor.HttpContext;

        if (httpContext != null)
        {
            messageFromCookie = httpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

            if (messageFromCookie is not null)
            {
                httpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
            }
        }
        else
        {
            // Handle the case where HttpContext is null, if necessary
            messageFromCookie = "Error: Unable to access HttpContext.";
        }
    }
}
