@inherits LayoutComponentBase
@inject NavigationManager Navigation

<header class="header">
    <a href="#" class="logo">
        <img src="images/AquaAiLogo.jpg" alt="AquaAi Logo" class="logo-image">Aqua<span>Ai</span>
    </a>
    <nav class="navbar" @onclick="ToggleNavbar">
        <NavLink href="home">Home</NavLink>
        <NavLink href="About">About Us</NavLink>
        <NavLink href="services">Services</NavLink>
        <NavLink href="solution">Our Solution</NavLink>
        <NavLink href="whyaquaai">Why AquaAi</NavLink>
    </nav>
    <div class="icons">
        <div id="login-btn" class="fas fa-user" @onclick="NavigateToLogin"></div>
    </div>
</header>
<div class="main-content">
    @Body
</div>

@code {
    bool isNavbarActive = false;

    void ToggleNavbar()
    {
        isNavbarActive = !isNavbarActive;
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/Account/Login");
    }
}
